page-blanches {
    .pb{
 	background-color: white;
 	text-transform: none;
 	color: black !important;
 	width: 41%;
    border-radius: 27px;
    height: 22px;
    margin-top: 25px;
   }
  .pj{
 	color: white;
 	text-transform: none;
  margin-top: 25px;
   }
   .header-md{
   	background-color: black;
   }
   .toolbar-background-md {
    background-color: #222;
   }
  .btn-search{
    height: 85px;
    width: 38px;
    margin-top: 0px;
    background-color: #f9f9f9;
  }
  input:focus{
        border-bottom: 1px solid #4d8cf4;

  }
  .btn-search ion-icon{
    font-size: 2.4em;
    padding-right: 0px;
  }
 ion-header ion-icon.back-button-icon.icon {
    color: white;
    margin-bottom: 30px;
}
}
