page-single-pro {
   .my-nav{
     list-style-type: disc;
   }
   #map {
      width: 100%;
      height: 30%;
    }
   .toolbar-title-md{
      font-size:14px;
   }
   .adresse{
   	font-size: 14px;
   }
   .rs_comp{
   	font-weight: bold;
   	font-size: 15px;
   }
   .rubrique{
   		font-size: 14px;
   		font-weight: 300;
   }
   .telephone1 span, .email span, .site-web span, .fax span{
   	color: #4a8bfc;
   }

   [col-12]{
      padding: 1px;
   }
   /*img{
      width: 73px !important;
      float: left;
      margin-right: 10px;
      padding-top: 7px;
   }*/

  
   .telephone1, .telephone1 span, .fax, .fax span,.email, .email span,
   .site-web, .site-web span a{
      font-size: 14px;
   }
   .module{
      text-align: justify;
   }

}
