
<ion-header>

  <ion-navbar>
    <ion-title>{{rs_comp1}} {{rs_comp2}}<br> {{ville1}} {{ville2}} {{ville3}}</ion-title>
  </ion-navbar>

</ion-header>
 

<ion-content >
  <div #map id="map"></div>
 <ion-grid>

    <ion-row>
      <ion-col ><span class="rs_comp">{{rs_comp1}}{{rs_comp2}}</span><br>
             <span class="rubrique" text-wrap> 
               <span *ngIf="rubrique1">{{rubrique1}}<br></span>
               <span *ngIf="rubrique2">{{rubrique2}}</span>
               <span *ngIf="rubrique3">{{rubrique3}}</span>
               <span *ngIf="rubrique4">{{rubrique4}}</span>
             </span>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
        <ion-list>
          <hr>
          <ion-item>
            <span class="adresse" text-wrap>{{adresse1}}{{adresse2}}</span>
          </ion-item>         
          <ion-item *ngIf="telephone1">
            <span class="telephone1"><b>Tel : </b><span>{{telephone1}}</span>
           </span>
          </ion-item>
          <ion-item *ngIf="telephone2">
            <span class="telephone1"><b>Tel : </b><span>{{telephone2}}</span>
           </span>
          </ion-item>
          <ion-item >
            <span *ngIf="fax1">
               <span class="fax"><b>Fax : </b><span>{{fax1}}</span></span>
            </span>
            <span *ngIf="fax2">
               <span class="fax"><b>Fax : </b><span>{{fax2}}</span></span>
            </span>
            <span *ngIf="fax3">
               <span class="fax"><b>Fax : </b><span>{{fax3}}</span></span>
            </span>
          </ion-item>
          <!--<ion-item *ngIf="email1">
            <span class="email"><b>Email : </b><span>{{email1}}</span></span>
          </ion-item>
          <ion-item *ngIf="email2">
            <span class="email"><b>Email : </b><span>{{email2}}</span></span>
          </ion-item>-->

          <ion-item *ngIf="webinfo_link1">
            <span class="site-web"><b>Site Web : </b><span><a href="{{webinfo_link1}}">{{webinfo_link1}}</a></span></span>          
          </ion-item>

          <ion-item *ngIf="webinfo_link2">
            <span class="site-web"><b>Site Web : </b>
              <span *ngIf="webinfo_link2.length<35" text-wrap>
              <a target="_blank" href="{{webinfo_link2}}">{{webinfo_link2}}</a>
              </span>
              <span *ngIf="webinfo_link2.length>35" text-wrap><br>
              <a target="_blank" href="{{webinfo_link2}}">{{webinfo_link2}}</a>
              </span>
            </span>
          </ion-item>
          <ion-item text-wrap>
              <span class="logo"><img src="{{logo}}"></span>
           
            <div class="module">
              {{module1}}{{module2}}{{module3}}
            </div>
          </ion-item>
       
          <!--<ion-item text-wrap>
            <b>Services et prestations: </b><br>
              {{motcle}}
          </ion-item>-->
        </ion-list>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
