<ion-header>

  <ion-navbar>
     <b>{{quiquoi}}</b> <br>
     {{ou}}
  </ion-navbar>

</ion-header>


<ion-content padding class="hist-content"><br>
   
  <ion-grid *ngIf="count>0">
    <b> {{count}} résultats</b>
    <ion-row  class="hist-row" *ngFor="let l of list;let i= index">
    
      <ion-col col-10 class="information">
      	<div class="rs_comp" (click)="onDisplayPro(l.d)">{{l.d[2].rs_comp}} {{l.d[1].rs_comp}}</div>
        <div >
          <span class="adresse">{{l.d[3].adresse}}{{l.d[4].adresse}}</span> &nbsp;&nbsp;
          <span class="ville">{{l.d[4].ville}}{{l.d[5].ville}}</span>
        </div>

      </ion-col>

      <ion-col col-2 >
      </ion-col>
      
      <ion-col col-2 >
      	<div *ngIf='l.d[2].logo' (click)="onDisplayPro(l.d)">
      	 <img alt="logo" src="{{l.d[2].logo}}" class="logo-ste" />

      	</div>
      	<div *ngIf='!l.d[2].logo' (click)="onDisplayPro(l.d)">
        <img alt="logo" src="http://www.telecontact.ma/pubs/logos/L3182169.png" class="logo-not"/>
        </div>
      </ion-col>
     <ion-col col-9 >
       <div class="rubrique" (click)="onDisplayPro(l.d)">
       	<span *ngIf="l.d[6].rubrique">{{l.d[6].rubrique}}<br></span>
        <span *ngIf="l.d[7].rubrique">{{l.d[7].rubrique}}</span>
        <span *ngIf="l.d[8].rubrique">{{l.d[8].rubrique}}</span>  
        <span *ngIf="l.d[9].rubrique">{{l.d[9].rubrique}}</span>  
        <div *ngIf="l.d.length>10">          
       	<span *ngIf="l.d[10].rubrique">{{l.d[10].rubrique}}<br></span>
        </div> 
        <div *ngIf="l.d.length>11">  
        <span *ngIf="l.d[11].rubrique">{{l.d[11].rubrique}}<br></span>
        </div>
        <div *ngIf="l.d.length>12"> 
        <span *ngIf="l.d[12].rubrique">{{l.d[12].rubrique}}<br></span>
        </div>

       </div>
     </ion-col>
           <div class="space"><br>  <br></div>
    </ion-row>

    </ion-grid>
    
    <ion-grid >
    <ion-row *ngIf="count==0"><ion-col col12>Aucun resultat</ion-col></ion-row>
    </ion-grid>
 <ion-list>
   <ion-item *ngFor="let i of items">{{i}}</ion-item>
 </ion-list>
    <!--<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>-->
</ion-content>
